.crud{
    max-width: 800px;
    display: flex;
    padding: 0px 60px;
    margin: 0 auto;
    margin-top: 50px;
    /* border: 2px solid red; */
    align-items: center;
}

.crud input[type=text]{
    width: 250px;
    padding: 5px 8px;
    border-radius: 5px; 
    border: 2px solid rgba(128, 128, 128, 0.486);
    outline: none;
  
}
.crud input[type=password]{
    width: 250px;
    padding: 5px 8px;
    padding-right: 32px;
    border-radius: 5px; 
    border: 2px solid rgba(128, 128, 128, 0.486);
    outline: none;
  
}

.button{
    margin-top: 25px;
}
.abc{
    margin-left: 10px;
}

.password{
    position: relative;
}

.eye{
    position: absolute;
    top: 35px;
    right: 10px;
}

.eye:hover{
    color: blue;
    cursor: pointer;
}

.blue{
    color: blue;
}

.table{
    max-width: 1000px;
    margin:  0 auto;
    margin-top: 0px;
    text-align: center;
}

.table i:hover{
    color: red;
    cursor: pointer;
}

h2{
    text-align: center;
    margin-top: 50px;
}

.loading{
    color: red;
    font-size: 18px;
    font-weight: 600;
}


/* .................. pagination........... */

.pagination{
    max-width: 100px;
    margin: 0 auto;
    margin-top: 30px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
}

.page-button{
    margin: 0 5px;
    padding: 5px 10px;
    background-color: #0d6efd;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    /* border: 1px solid red; */

}
.page-count{
    margin: 0 5px;
    padding: 5px 10px;
    color: #0d6efd;
    border: 1px solid #0d6efd;
    border-radius: 5px;
    cursor: pointer;
}

.page-count:hover{
    background-color: #0d6efd;
    color: white;
}

.page-button:hover{
    background-color: #0b5ed7;
}

.page{
    max-width: 1000px;
    margin: 0 auto; 
    margin-top: 50px;
    text-align: end;
}